@charset "utf-8";
body{
    background-color: #121212;
  background-image: url("../img/bg3.png");
    color: white;
	 font-family: '游明朝';
}
img{/*画像の拡大縮小*/
    width: 100%;
    max-width: 100%;
    height: auto;
}

/*--menu bar-----------------*/
.menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(0, 0, 0, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    background-color: rgba(0,0,0,0.50);
    transition: 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: rgba(0,0,0,0.50);
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

/*--video---------------------*/
.top{
    margin-bottom: 50%;
}

#teaser{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 35%;
}

/*--story---------------------------*/
.summary{
    font-family: '游明朝';
    text-align: center;
	width: 100%;
	padding-top: 3vh;
}
.summary div{
    padding: 2em;
}
#poster{
    padding-bottom: 3vh;
 }

#text{
    background-image: url("../img/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
#story{
    width: 40%;
    padding-top: 1vh;
    z-index: 99;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    display: block;
}
#text p{
    line-height: 1.8;
    text-align: left;
	font-size: 15px;
}

/*--character------------------------*/
.chara{
    margin-top: 4vw;
	margin-left: 2vw;
    transform: rotate(-4deg);
}

article .leo-bg img{
    background-size: cover;
    padding-top: 1vw;
    width: 100%;
    height: 100%; 
    position: relative;
    top: 0;
    left: 0;
}

article #leo img{
    width: 25%;
    margin-right: 5em;
    float: right;
    display: flex;  
    position: relative;
    margin-top: -13em;
}
.leo-bg2,
.myuna-bg2,
.demi-bg2{
    display: none;
}
article .myuna-bg img{
    background-size: cover;
    width: 100%;
    height: 100%; 
    position: relative;
    margin-top: -1.5em;
    top: 0;
    left: 0;
}

article #myuna img{
    width: 11.5%;
    float: left;
    display: flex;  
    position: relative;  
    left: 90px;
    margin-top: -12.5em;
}

article .demi-bg img{
    background-size: cover;
    width: 100%;
    height: 100%; 
    position: relative;
    margin-top: -1.5em;
}

article #demi img{
    width: 50%;
    padding-left: 3em;
    float: right;
    display: flex;  
    position: relative;
    margin-top: -12em;
}


/*--scene----------------------------*/
#sceneimg{
	padding-bottom: 5px;
}

.scene img{
    display: block;
	margin: auto;
	margin-top: 1em;
}

.slider {
    width: 94%;
    margin:0 auto;
}

.slider img {
    width:60vw;
    height:auto;
}

.slider .slick-slide {
	transform: scale(0.8);
	transition: all .5s;
	opacity: 0.5;
}

.slider .slick-slide.slick-center{
	transform: scale(1);
	opacity: 1;
}

.slick-prev, 
.slick-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#ccc;
}

.slick-dots .slick-active button{
    background:#333;
}

/*--footer------------------------*/
footer img{
    padding-top: 10vh;
    width: 100%;
    height: auto;
}














