@charset "utf-8";

body{
    background-color: black;
    color: white;
}

/*--menu bar-----------------*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 95%;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(0, 0, 0, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    background-color: rgba(0,0,0,0.50);
    transition: 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: rgba(0,0,0,0.50);
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

.global-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/*--video---------------------*/
#teaser{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 35%;
}

/*--poster--------------------*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster{
    margin-top: 38vw;
    margin-left: 5vw;
}

.poster img{
    width: 25%;
    float: left;
}

.poster p{
    font-size: 5px;
}

/*--character----------------------*/
article p{
    margin: 30vw 2vw 0 3vw;
    transform: rotate(-4deg);
    font-size: 20px;
    padding-top: 5vw;
}

article .leo-bg{
    background-image: url("../img/characters/png/bg-leo.png");
    background-size: 100%;
    background: cover;
    padding-top: 5vw;
   
}

article #leo{
    width: 30%;
    z-index: 1;
    
}

article .myuna-bg{
    background-image: url("../img/characters/png/bg grey.png");
    background-size: 600px;
}

article #myuna{
    width: 20%;
    
}

article .demigod-bg img{
    margin-top: -7vw;
    height: 600px;
}

















